

  <title>Stock chart application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<body>
    
      <div class="container">
          <div class="row">
              <div class="col-md-3">
			        <h1 id="admin1">Admin</h1>
              <a routerLink="/del-us"><img src="/assets/images/admin1.jpg" alt="no_image" id="admin_image" /></a>
              </div>
              <div class="col-md-3">
			  <h1 id="admin2"> Mentor</h1>
        <a routerLink="/del-trainer.html"><img src="/assets/images/admin2.jpg" alt="no_image" id="user_image" /></a>
              </div>
			  <div class="col-md-3">
			   <h1 id="admin3">User </h1>
         <a routerLink="/add-tech.html"><img src="/assets/images/admin3.png" alt="no_image" id="admin_image1" /></a>
              </div>
                </div>
          </div>
     
	 
</body>
